workflows/02_Schedule_calendar_tasks.json
{
  "name": "Schedule tasks in calendar",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4752,
        384
      ],
      "id": "b9845f94-6754-48eb-a697-3602e46e21ea",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "IMPORTANT"
          ],
          "readStatus": "unread",
          "receivedAfter": "={{$today.minus(7, 'days')}}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -4528,
        288
      ],
      "id": "88cac077-94bc-4218-9a76-948b34497017",
      "name": "Get many messages",
      "webhookId": "09345dc4-7676-4e08-897d-92184b196fc6",
      "credentials": {
        "gmailOAuth2": {
          "id": "mtlB50TQC7rjPrDz",
          "name": "Gmail - petr.b.lavrov - account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "petr.b.lavrov@gmail.com",
          "mode": "list",
          "cachedResultName": "petr.b.lavrov@gmail.com"
        },
        "timeMin": "={{ $today }}",
        "timeMax": "={{ $today.plus({ day: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -4528,
        480
      ],
      "id": "1fbbef57-4172-4f70-83bf-1c4f83ffe83c",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tsI9LktaDj0Dpp4H",
          "name": "Petr.b.lavrov - Calendar"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4080,
        384
      ],
      "id": "2c1f2450-fe8f-409c-9cac-68dc22d377d3",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "responses": {
          "values": [
            {
              "content": "=Emails:\n{{$json.emails.toJsonString()}}\n\nExisting Calendar events (AVOID CONFLICTS WITH THEM):\n{{ $json.calendar_events }}\n\nSelect up to 3 important emails and then CREATE ONE EVENT TASK PER EMAIL SELECTED"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "instructions": "Pick up to 3 most important unanswered / unfinished emails and schedule time in my calendar to work on them\n\nStart and end in ISO\n\nInclude all email details like subject, sender and contents in the description of event\n\n\nExisting Calendar events (AVOID CONFLICTS WITH existing calendar events - provided)\n\nSelect up to 3 important emails and then CREATE ONE EVENT TASK PER EMAIL SELECTED",
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "name": "suggest_task_timeslots",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"task_timeslots\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"type\": \"string\"\n          },\n          \"start\": {\n            \"type\": \"string\"\n          },\n          \"end\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\"title\", \"description\", \"start\", \"end\"],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"task_timeslots\"]\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -3632,
        384
      ],
      "id": "a9c76782-b63f-4478-82a7-ed8907623617",
      "name": "Message a model",
      "executeOnce": false,
      "credentials": {
        "openAiApi": {
          "id": "24nk4sUD64B0PgZV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "emails",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -4304,
        288
      ],
      "id": "c9bda20e-f892-43a1-a3a5-22e1cb059cdf",
      "name": "Aggregate Emails"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "calendar_events",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -4304,
        480
      ],
      "id": "b8c1e01a-938f-41b2-93cb-2b65026aa61a",
      "name": "Aggregate Calendar Events"
    },
    {
      "parameters": {
        "content": "## Source of tasks\nEasiest case - email inbox\nCan be jira, notion database, obsidian notes, chat message or anything else"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4448,
        48
      ],
      "typeVersion": 1,
      "id": "030aa52b-b98c-4e3e-9033-fefbac0bc2bb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Check calendar busy slots\nCan be optimized to show only availability"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4432,
        800
      ],
      "typeVersion": 1,
      "id": "25795eb0-a96d-404c-8e2b-2c73f14f4b7f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "emails"
            },
            {
              "fieldToAggregate": "calendar_events"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3856,
        384
      ],
      "id": "595c8e35-7eac-4680-af70-6c83726f421c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output[0].content[0].text.task_timeslots",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3280,
        384
      ],
      "id": "367a0e5c-1c4e-4ecb-ba0e-785ed63ac1ca",
      "name": "Split Out"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "petr.b.lavrov@gmail.com",
          "mode": "list",
          "cachedResultName": "petr.b.lavrov@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -3072,
        384
      ],
      "id": "4f189b92-bd11-4fbb-883b-fbfa02a1aeaf",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tsI9LktaDj0Dpp4H",
          "name": "Petr.b.lavrov - Calendar"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Aggregate Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Aggregate Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Emails": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Calendar Events": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3293305d-adfb-400b-868a-0dcc439b75cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "956788c649ef19bf6beb9439f5ba75a6702ed157baab46ca5c3da1344a33fc5e"
  },
  "id": "YVNvqQFpFJR0sj3G",
  "tags": []
}